In [2]:
import pandas as pd
from utils.objects import Point
from utils.enumerations import Trend, Levels
from strategies.tt_strategy import TT_Strategy

In [3]:
#This function suppress warning messages about pandas using copy-view
pd.options.mode.chained_assignment = None

In [4]:
candles = pd.read_pickle("V-100/Volatility-100-Index-M1-save-2024-02-11.pkl")
candles

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-02-09 22:00:00,1742.82,1745.84,1742.43,1743.94,30,42,0
1,2024-02-09 22:01:00,1743.75,1746.28,1742.93,1746.28,30,42,0
2,2024-02-09 22:02:00,1745.89,1746.12,1743.29,1744.39,30,42,0
3,2024-02-09 22:03:00,1744.55,1748.88,1744.39,1748.46,30,42,0
4,2024-02-09 22:04:00,1748.10,1749.31,1746.65,1746.75,30,42,0
...,...,...,...,...,...,...,...,...
2876,2024-02-11 21:56:00,1817.65,1819.74,1816.63,1818.53,30,42,0
2877,2024-02-11 21:57:00,1818.04,1819.97,1816.13,1819.07,30,42,0
2878,2024-02-11 21:58:00,1819.56,1822.62,1818.71,1820.97,30,42,0
2879,2024-02-11 21:59:00,1820.43,1821.39,1819.69,1821.32,30,42,0
2880,2024-02-11 22:00:00,1821.00,1821.00,1818.20,1819.61,29,42,0

In [5]:
symbol = "Volatility 100 Index"

In [6]:
strategy = TT_Strategy(symbol = symbol)

In [7]:
data = strategy.test(candles = candles)

Setups: 91

In [8]:
data.set_index("time", inplace = True)
data = data.loc["2024-02-11 00:00:00":]
data.reset_index(inplace = True)

In [9]:
data

,time,open,high,low,close,tick_volume,spread,real_volume,EMA_5,Delta-5,...,13/50-cross,5/13-cross,rsi,signal_line,signal_cross,base_line,upper_tdi,lower_tdi,SIGNALS,dtrade
0,2024-02-11 00:00:00,1749.12,1751.06,1748.31,1749.83,30,42,0,1749.054388,387806,...,0,0,46.784346,44.847879,1,52.153098,60.900841,43.636892,-,-
1,2024-02-11 00:01:00,1750.27,1752.41,1749.49,1751.22,30,42,0,1749.776259,721871,...,0,0,48.967804,44.946486,0,52.174550,60.854628,43.858883,-,-
2,2024-02-11 00:02:00,1751.32,1753.53,1749.77,1753.53,29,42,0,1751.027506,1251247,...,0,0,52.377417,45.968233,0,52.357346,60.887072,44.102045,-,-
3,2024-02-11 00:03:00,1753.14,1756.16,1752.23,1756.05,30,42,0,1752.701671,1674165,...,0,1,55.762934,47.243107,0,52.587941,61.025357,44.142581,-,-
4,2024-02-11 00:04:00,1755.83,1756.88,1754.88,1755.97,30,42,0,1753.791114,1089443,...,1,0,55.631106,48.497634,0,52.671030,61.153207,44.185797,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,2024-02-11 21:56:00,1817.65,1819.74,1816.63,1818.53,30,42,0,1817.961725,284138,...,0,0,48.869397,47.603973,1,49.249228,56.674945,41.820591,-,-
1317,2024-02-11 21:57:00,1818.04,1819.97,1816.13,1819.07,30,42,0,1818.331150,369425,...,0,0,49.514964,47.615730,0,49.255402,56.720354,41.913534,-,-
1318,2024-02-11 21:58:00,1819.56,1822.62,1818.71,1820.97,30,42,0,1819.210766,879617,...,0,1,51.764912,48.426125,0,49.386886,56.858868,42.104870,-,-
1319,2024-02-11 21:59:00,1820.43,1821.39,1819.69,1821.32,30,42,0,1819.913844,703078,...,0,0,52.177151,48.855013,0,49.558877,57.007377,42.324687,-,-
1320,2024-02-11 22:00:00,1821.00,1821.00,1818.20,1819.61,29,42,0,1819.812563,-101281,...,0,0,49.985616,49.425291,0,49.675163,56.994218,42.702998,-,-

In [10]:
signals = data[data["dtrade"] != "-"]
signals

,time,open,high,low,close,tick_volume,spread,real_volume,EMA_5,Delta-5,...,13/50-cross,5/13-cross,rsi,signal_line,signal_cross,base_line,upper_tdi,lower_tdi,SIGNALS,dtrade
14,2024-02-11 00:14:00,1742.36,1745.33,1742.36,1745.15,30,42,0,1743.665243,742378,...,0,0,44.034654,41.019324,1,48.608174,58.414074,38.326518,-,Rise
58,2024-02-11 00:58:00,1733.86,1743.81,1733.86,1743.20,30,42,0,1737.752186,2723907,...,0,0,50.382181,42.194150,1,46.367201,53.631587,38.945620,-,Rise
117,2024-02-11 01:57:00,1739.45,1741.87,1738.78,1741.87,30,42,0,1740.546275,661862,...,0,0,48.309465,46.020343,1,49.506994,57.523468,41.520824,-,Rise
236,2024-02-11 03:56:00,1744.33,1747.07,1743.09,1747.07,29,42,0,1746.005877,532062,...,0,0,53.115328,50.582244,1,52.181363,63.147241,41.918183,-,Rise
508,2024-02-11 08:28:00,1690.65,1696.16,1690.05,1695.58,30,42,0,1692.997007,1291497,...,0,1,51.100204,46.196618,1,40.616932,50.146158,30.856797,-,Rise
592,2024-02-11 09:52:00,1684.06,1688.35,1683.86,1688.35,30,42,0,1686.149109,1100445,...,0,0,49.892168,45.996591,1,51.460999,62.373902,40.925845,-,Rise
671,2024-02-11 11:11:00,1713.07,1721.73,1713.07,1721.73,29,42,0,1717.754393,1987803,...,0,1,58.029613,54.438807,1,60.175853,70.116664,49.917084,-,Rise
728,2024-02-11 12:08:00,1725.90,1730.28,1724.85,1729.71,30,42,0,1727.799668,955166,...,0,0,59.023969,57.813257,1,52.388491,61.725419,43.418582,-,Rise
909,2024-02-11 15:09:00,1836.31,1840.67,1835.91,1840.67,30,42,0,1837.618021,1525990,...,0,0,70.724431,68.490807,1,68.254546,81.364274,55.597415,-,Rise
1055,2024-02-11 17:35:00,1825.55,1829.80,1825.35,1828.16,30,42,0,1825.509786,1325107,...,0,0,63.020814,61.003806,0,51.182346,62.571455,40.298576,-,Rise
1242,2024-02-11 20:42:00,1823.57,1826.71,1823.57,1826.27,30,42,0,1824.811138,729431,...,0,0,36.138340,32.557433,1,33.092404,41.415782,24.289301,-,Rise

In [11]:
pd.to_pickle(data, "SIGNALS/V-100-signals-11.pkl")