In [1]:
import pandas as pd
from utils.objects import Point
from utils.enumerations import Trend, Levels
from strategies.bb_strategy import BB_Strategy

In [2]:
#This function suppress warning messages about pandas using copy-view
pd.options.mode.chained_assignment = None

In [3]:
candles = pd.read_pickle("V-100/Volatility-100-Index-M1-save-2024-02-16.pkl")
candles

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-02-14 22:00:00,2003.16,2005.41,2002.23,2004.43,29,45,0
1,2024-02-14 22:01:00,2004.86,2007.64,2004.00,2005.64,30,45,0
2,2024-02-14 22:02:00,2004.90,2007.51,2003.10,2006.16,30,45,0
3,2024-02-14 22:03:00,2006.12,2008.38,2005.74,2008.38,29,45,0
4,2024-02-14 22:04:00,2007.58,2008.24,2005.73,2006.27,29,45,0
...,...,...,...,...,...,...,...,...
2876,2024-02-16 21:56:00,1947.45,1948.22,1946.15,1946.63,30,53,0
2877,2024-02-16 21:57:00,1946.69,1948.01,1945.27,1946.42,30,53,0
2878,2024-02-16 21:58:00,1946.49,1946.50,1942.46,1944.83,29,53,0
2879,2024-02-16 21:59:00,1944.14,1946.53,1942.75,1946.23,30,53,0
2880,2024-02-16 22:00:00,1945.76,1945.76,1943.01,1945.44,29,53,0

In [4]:
symbol = "Volatility 100 Index"

In [5]:
strategy = BB_Strategy(symbol = symbol)

In [6]:
data = strategy.test(candles = candles)

In [7]:
data.set_index("time", inplace = True)
data = data.loc["2024-02-16 00:00:00":]

In [8]:
data.loc["2024-02-16 14:23:00"]

open             1986.04
high             1989.02
low              1985.11
close            1986.42
tick_volume           30
spread                53
real_volume            0
rsi             48.82528
signal_line    50.028437
base_line      50.789222
upper_tdi      57.867091
lower_tdi      44.059246
cci           -15.218836
MBL           -14.471553
dtrade                 -
Name: 2024-02-16 14:23:00, dtype: object

In [9]:
data.reset_index(inplace = True)

In [10]:
data

,time,open,high,low,close,tick_volume,spread,real_volume,rsi,signal_line,base_line,upper_tdi,lower_tdi,cci,MBL,dtrade
0,2024-02-16 00:00:00,1971.11,1972.67,1970.45,1972.67,30,45,0,33.236220,32.831338,33.033063,43.854801,21.321223,-159.612830,-233.660167,-
1,2024-02-16 00:01:00,1972.57,1974.10,1970.76,1972.87,29,45,0,33.515427,33.048446,32.614510,42.741537,21.665678,-150.538384,-225.676356,-
2,2024-02-16 00:02:00,1972.76,1973.25,1970.37,1970.77,30,45,0,32.038250,32.618258,32.198883,41.850272,21.860505,-148.798003,-217.941985,-
3,2024-02-16 00:03:00,1971.03,1971.40,1969.80,1970.37,29,45,0,31.758303,32.325089,31.852614,40.675083,22.236092,-146.550503,-210.257176,-
4,2024-02-16 00:04:00,1970.47,1972.71,1969.25,1972.71,30,45,0,35.234432,32.800555,31.563554,40.087692,22.446750,-137.399849,-202.443645,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,2024-02-16 21:56:00,1947.45,1948.22,1946.15,1946.63,30,53,0,47.753029,46.184403,43.647871,48.715034,38.663554,-79.794130,-120.573863,-
1317,2024-02-16 21:57:00,1946.69,1948.01,1945.27,1946.42,30,53,0,47.498391,46.299218,43.798125,48.818639,39.127944,-83.507660,-117.205085,-
1318,2024-02-16 21:58:00,1946.49,1946.50,1942.46,1944.83,29,53,0,45.566708,46.017685,44.018817,48.834133,39.479019,-105.780570,-115.920736,-
1319,2024-02-16 21:59:00,1944.14,1946.53,1942.75,1946.23,30,53,0,47.539187,46.575680,44.253222,48.996310,39.754295,-96.808342,-112.131391,-
1320,2024-02-16 22:00:00,1945.76,1945.76,1943.01,1945.44,29,53,0,46.539964,47.142864,44.437150,49.121445,39.840992,-100.299177,-109.232046,-

In [11]:
signals = data[data["dtrade"] != "-"]
signals

,time,open,high,low,close,tick_volume,spread,real_volume,rsi,signal_line,base_line,upper_tdi,lower_tdi,cci,MBL,dtrade
562,2024-02-16 09:22:00,2028.39,2032.41,2027.50,2032.41,30,45,0,63.290390,59.249637,58.114478,64.215396,51.248780,120.540195,115.881183,Rise
608,2024-02-16 10:08:00,2007.42,2010.37,2005.94,2010.29,30,45,0,50.054372,45.543089,42.245031,51.909491,32.534530,-72.837840,-73.938218,Rise
678,2024-02-16 11:18:00,2034.32,2039.83,2033.65,2039.24,30,45,0,57.902908,55.693496,59.135611,69.084509,48.900496,106.452818,104.492539,Rise
974,2024-02-16 16:14:00,1949.86,1957.90,1949.86,1957.04,30,53,0,50.705145,48.815003,45.303668,57.241442,33.674715,-65.920883,-69.969356,Rise
1043,2024-02-16 17:23:00,1965.91,1971.27,1965.12,1971.27,30,53,0,51.896701,49.930949,49.544865,55.107131,43.036164,33.962891,33.291994,Rise
1177,2024-02-16 19:37:00,1963.50,1969.50,1961.74,1968.58,30,53,0,55.205647,48.697338,50.614496,58.993733,42.672973,68.090107,20.667028,Rise
1279,2024-02-16 21:19:00,1958.25,1960.00,1958.16,1958.77,30,53,0,50.997969,48.293286,50.295310,56.474145,44.799940,-19.540928,-29.505199,Rise

In [12]:
pd.to_pickle(data, "SIGNALS/V-100-signals-16.pkl")